*
{
    margin: 0;
    padding: 0;
}



html,
body
{
    margin:0;
    overflow: hidden;
    font-family: Helvetica, Arial, Verdana, sans-serif; 
    background-color: #cccccc;
}

p {
	font-family: Verdana;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 0.78rem;
	background-image: none !important;
}

canvas
{
  width:100%;
  border-bottom: 2.5px solid rgba(0, 0, 255, 1.0);
  border-top: 2.5px solid rgba(0, 0, 255, 1.0);
  border-left: 2.5px solid rgba(0, 0, 255, 1.0);
  border-right: 2.5px solid rgba(0, 0, 255, 1.0);


}

.grid::-webkit-scrollbar { width: 0 !important }

#sketch {
  height: 100%;
  width:100%;
  float:right;
}




